@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');
/* #mainDiv{
    margin-top: 150px;
    background-color: lightgray;
    height: 400px;
    width: 400px;
} */
body{
  font-family: 'Trade Winds', cursive;
}
#firstPage{
    margin-top: 100px;
}
#mainPage{
    margin-left: 450px;
    margin-top: -50px;
    height: 600px;
    width: 600px;
    background-color: lightgray;
}
.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  #Input{
    /* margin-left: 560px !important;
    margin-top: 220px !important; */
    font-size: 25px;
    font-family: 'Istok Web', ;
    background-color: lightgray;
    /* height: 300px;
    width: 340px; */
  }

  #Output{
    background-color: lightgray;
  }
  .secdiv{
    display: none;
  }
  